.login-container {
  display: flex;
  justify-content: center;
  align-items: center; /* ← centrado vertical */
  height: 90vh; /* ← altura completa de la ventana */
  padding: 20px; /* opcional, para evitar que el card pegue al borde */
}


mat-card {
  width: 400px;
  padding: 20px;
  border: 2px solid #a9adc5; /* color azul Material */
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}


